[
 {mas,
  [
   {population_mod, mas_test_population},
   {population_count, 12},
   {population_size, 100},
   {topology, mesh},
   {nodes_topology, grid},
   {migration_probability, 0.2},
   {node_migration_probability, 0.5},
   {measurement_interval, 1000},
   {logs_dir, "/logs/mas"},
  ]
 }
].
