{erl_opts, [debug_info,
            warn_export_all,
            warn_export_vars,
            warn_shadow_vars,
            warn_obsolete_guard,
            warn_unused_import]}.

{profiles,
  [{lint,  [{plugins, [{rebar3_lint, "0.1.7"}]}]}]
}.

{deps,
 [
  {exometer_core, {git, "git://github.com/Feuerlabs/exometer_core.git", {branch, "master"}}},
  {exometer_fs, {git, "https://github.com/erlang-mas/exometer-fs.git", {tag, "0.1.0"}}}
 ]
}.
