{erl_opts, [debug_info,
            warn_export_all,
            warn_export_vars,
            warn_shadow_vars,
            warn_obsolete_guard,
            warn_unused_import,
            {parse_transform, lager_transform}]}.

{profiles,
  [{lint,  [{plugins, [{rebar3_lint, "0.1.7"}]}]}]
}.

{deps,
 [{lager, "3.2.4"}]
}.
